html,body,div{
    padding: 0px;
    margin: 0px;
}
html,body{
    height: 100%;
}
.header, .footer {
    background-color: #409EFF;
    color: #fff;
    text-align: center;
    line-height: 60px;
    height: 100%;
}
.el-main {
    background-color: white;
    text-align: center;
    padding: 20px;
  }